extends _layout

block content
  div(class="flex flex-col items-center")
    div(class="mt-2 flex flex-col rounded-lg bg-white max-w-xl shadow-xl")
      div(class="text-gray-900 text-2xl font-light mx-4 mb-5")
        | Edit Device
      div(id="editDeviceName" class="border-t flex flex-row py-2 hover:bg-gray-200 cursor-pointer")
        div(class="ml-4 w-32 text-gray-700")
          a(class="") Name:
        div(id="nodeNameBox" name="name" class="w-64")
          | #{node.name}
        div(class="ml-auto mt-2 mr-10 text-gray-700")
          <svg class="w-auto h-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
      
      // *************** Modal change name begins here *****************

      div(id="modalDeviceName" class="bg-gray-900 bg-opacity-75 absolute hidden inset-0 flex flex-col justify-center items-center")
        div(class="bg-gray-200 max-w-sm py-3 px-3 rounded-lg shadow-xl")
          div(class="flex text-white")
            <svg id="closeModalDeviceNameBtn" class="ml-auto text-gray-700 w-5 h-5 cursor-pointer hover:bg-gray-300 rounded-full" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
          div(class="flex justify-center")
            img(class="h-16 w-auto mr-2" src='/images/logo.png' alt='Wine logo black')
          div(class="flex justify-center items-center")
            h4(class="text-2xl font-light px-10") Change device name
          div(class="mt-2 text-xs mx-4")
            | Current device name
          div(class="mt-1 text-xs mx-4")
            | #{node.name}
          div(class="mt-2 text-xs mx-4")
            | New device name
          div(class="mt-1 text-xs mx-4")
            input(id="newName" type="text" class="pl-1 w-full rounded border border-gray-700 focus:outline-none")
          div(class="mt-5 flex justify-center text-md")
            button(id="saveEditDeviceNameBtn" class="focus:outline-none px-5 py-1 bg-indigo-400 border border-indigo-400 rounded-lg text-gray-100 hover:border-indigo-400 hover:bg-gray-200 hover:text-indigo-400")
              | Save
          div(class="text-xs flex justify-center mt-2 mb-2")
            <a id="cancelModalDeviceNameBtn" class="cursor-pointer text-indigo-400 hover:font-semibold">Cancel</a>
      
      // *************** Modal change name ends here *****************

      div(id="editDeviceID" class="border-t border-b flex flex-row py-2 hover:bg-gray-300 cursor-pointer")
        div(class="ml-4 w-32 text-gray-700")
          a(class="") ID:
        div(class="w-64" id="nodeIDBox" name="nodeID")
          | #{node.nodeID}
        div(class="ml-auto mt-2 mr-10 text-gray-700")
          <svg class="w-auto h-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
      
      // *************** Modal change ID begins here *****************

      div(id="modalDeviceID" class="bg-gray-900 bg-opacity-75 absolute hidden inset-0 flex flex-col justify-center items-center")
        div(class="bg-gray-200 max-w-sm py-3 px-3 rounded-lg shadow-xl")
          div(class="flex text-white")
            <svg id="closeModalDeviceIDBtn" class="ml-auto text-gray-700 w-5 h-5 cursor-pointer hover:bg-gray-300 rounded-full" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
          div(class="flex justify-center")
            img(class="h-16 w-auto mr-2" src='/images/logo.png' alt='Wine logo black')
          div(class="flex justify-center items-center")
            h4(class="text-2xl font-light px-10") Change device identifier
          div(class="mt-2 text-xs mx-4")
            | Current device identifier
          div(class="mt-1 text-xs mx-4")
            | #{node.nodeID}
          div(class="mt-2 text-xs mx-4")
            | New device identifier
          div(class="mt-1 text-xs mx-4")
            input(type="text" id="newID" class="pl-1 w-full rounded border border-gray-700 focus:outline-none")
          div(class="mt-5 flex justify-center text-md")
            button(id="saveEditDeviceIDBtn" class="focus:outline-none px-5 py-1 bg-indigo-400 border border-indigo-400 rounded-lg text-gray-100 hover:border-indigo-400 hover:bg-gray-200 hover:text-indigo-400")
              | Save
          div(class="text-xs flex justify-center mt-2 mb-2")
            <a id="cancelModalDeviceIDBtn" class="cursor-pointer text-indigo-400 hover:font-semibold">Cancel</a>

      // *************** Modal change ID ends here *****************
      
      div(class="flex flex-row py-2 pt-6 items-center")
        div(class="ml-4 w-32 text-gray-700")
          | Functionality: 
          // If no functionality show 'No avaliable functionality
        if !funcs.length
          div(class="w-64 py-2 border rounded-md flex")
            span(class="ml-2 w-64") No avaliable functionality
        else
          div(id="devicesBtn1" class="w-64 py-2 border rounded-md flex hover:bg-gray-300 cursor-pointer")
            span(class="ml-2 w-64") Available functionality
            div(id="arrowDown1" class="mr-2")
              <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path></svg>
            div(id="arrowUp1" class="mr-2 hidden")
              <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18"></path></svg>            
            div(class="h-14 overflow-auto max-w-md divide-y absolute mt-10 hidden border rounded-lg flex flex-col bg-gray-100" id="dropdownDevices1")
              
              // Use funccard when we dont use mocked data
              div(class="flex flex-row p-2 items-center hover:bg-gray-200")
                div(class="text-gray-700 mr-4")
                  | Temperature
                div(id="selectedBtn1" class="mr-2 ml-auto")
                  <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
              div(class="flex flex-row p-2 items-center hover:bg-gray-200")
                div(class="text-gray-700 mr-4")
                  | Temperature
                div(id="" class="mr-2 ml-auto")
                  <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
        div(id="createFuncBtn1" class="ml-4 mr-4 text-center p-2 font-semibold rounded-lg text-xs  bg-green-300 hover:bg-green-500 cursor-pointer")     
          | Create functionality
        
      // *************** Modal add functionality begins here *****************

      div(id="confirmFunc1" class="hidden flex z-10 bg-gray-900 bg-opacity-75 h-full overflow-auto fixed inset-0 justify-center items-center text-center")
        div(class="bg-gray-200 max-w-4xl py-3 px-3 rounded-lg shadow-xl")
          div(class="flex text-white")
            <svg id="closeConfirmFuncBtn1" class="ml-auto text-gray-700 w-5 h-5 cursor-pointer hover:bg-gray-300 rounded-full" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
          div(class="flex justify-center")
            img(class="h-16 w-auto mr-2" src='/images/logo.png' alt='Wine logo black')
          div(class="flex justify-center items-center")
            h4(class="text-3xl font-light px-10") Create new functionality to your node
          div(class="flex flex-col")
            div(class="flex flex-col font-light text-lg mb-2 font-normal items-center font-light mt-6")
              div(class="mb-2") Functionality name
              div(id="infoName" class="text-lg font-light mb-2 max-w-xl")
                input(type="name" name="newFuncName" class="text-center shadow px-1 py-2 bg-gray-100 focus:outline-none rounded-lg text-lg" placeholder="Name")
            div(id="sectionSplitter" class="w-full lg:w-0 mt-2 mb-2 lg:border-none lg:pt-0 lg:mt-0")
            div(class="flex flex-col lg:flex-row justify-evenly items-center text-xl w-full lg:space-x-2")
              div(id="setupSection" class="text-center")
                div(class="font-light text-lg mb-2 font-normal")
                  | Setup() function
                div(class="flex justify-center text-3xl mb-2 mt-2 h-48")
                  textarea(id="setupFunc" class="text-sm overflow-auto text-gray-900 border-2 border-gray-700 rounded-xl p-2 bg-indigo-100 w-full h-full focus:outline-none" placeholder="some code;")
              div(id="sectionSplitter" class="w-full lg:w-0 mt-2 mb-2 lg:border-none lg:pt-0 lg:mt-0")
              div(id="loopSection" class="text-center")
                div(class="font-light text-lg mb-2 font-normal")
                  | Loop() function 
                div(class="flex justify-center text-3xl mb-2 mt-2 h-48")
                  textarea(id="loopFunc" class="text-sm text-gray-900 overflow-auto border-2 border-gray-700 rounded-xl p-2 bg-indigo-100 w-full h-full focus:outline-none" placeholder="some code;")
            div(class="mt-6 flex justify-center text-3xl")
              button(id="confirmFuncBtn1" class="shadow px-8 py-1 bg-indigo-300 border border-indigo-300 rounded-lg text-gray-100 hover:border-indigo-300 hover:bg-gray-200 hover:text-indigo-300 focus:outline-none")
                | Confirm
          div(class="text-xs flex justify-center mt-4 mb-2")
            p Clicking confirm will add the functionality to your functionalities. 

      // *************** Modal add functionality ends here ***************** 

      div(class="flex flex-row py-2 pt-6 items-center")
        div(class="ml-4 w-32 text-gray-700")
          | Sensors:
        div(class="h-32 w-64 border rounded-lg")  
      div(class="flex flex-col py-2 pt-6 items-center")
        button(formaction=`/add-node/${node._id}` formmethod="POST" type="submit" id="myBtn12" class="focus:outline-none px-6 py-2 bg-indigo-400 border rounded-lg text-gray-100 hover:border-indigo-400 hover:bg-gray-200 hover:text-indigo-400")
          | Save
        div(class="text-xs flex justify-center mt-2 mb-2")
          <a href="/nodes" id="cancelEditDevice" class="cursor-pointer text-indigo-400 hover:font-semibold">Cancel</a>
              
          
block scripts
  script.
    window.addEventListener('DOMContentLoaded', () => {

      // Modal for change name
      const deviceName = document.querySelector('#editDeviceName');
      const changeDeviceName = document.querySelector('#modalDeviceName');
      const closeModalDeviceName = document.querySelector('#closeModalDeviceNameBtn');
      const cancelModalDeviceName = document.querySelector('#cancelModalDeviceNameBtn');
      const saveModalDeviceName = document.querySelector('#saveEditDeviceNameBtn');
      

      const toggleChangeNameModal = () => {
        changeDeviceName.classList.toggle('hidden');
      }

      const toggleChangeNameModal2 = () => {
        const nameField = document.querySelector('#nodeNameBox'); 
        const newName = document.querySelector('#newName'); 

        nameField.innerHTML = newName.value; 
        changeDeviceName.classList.toggle('hidden'); 
      }

      deviceName.addEventListener('click', toggleChangeNameModal)
      closeModalDeviceName.addEventListener('click', toggleChangeNameModal)
      cancelModalDeviceName.addEventListener('click', toggleChangeNameModal)
      saveModalDeviceName.addEventListener('click', toggleChangeNameModal2)

      // Modal for change device identifier
      const deviceID = document.querySelector('#editDeviceID');
      const changeDeviceID = document.querySelector('#modalDeviceID');
      const closeModalDeviceID = document.querySelector('#closeModalDeviceIDBtn');
      const cancelModalDeviceID = document.querySelector('#cancelModalDeviceIDBtn');
      const saveModalDeviceID = document.querySelector('#saveEditDeviceIDBtn');
      

      const toggleChangeIDModal = () => {
        changeDeviceID.classList.toggle('hidden');
      }

       const toggleChangeIDModal2 = () => {
        const idField = document.querySelector('#nodeIDBox');   
        const newID = document.querySelector('#newID'); 

        idField.innerHTML = newID.value; 
        changeDeviceID.classList.toggle('hidden');
      }

      deviceID.addEventListener('click', toggleChangeIDModal)
      closeModalDeviceID.addEventListener('click', toggleChangeIDModal)
      cancelModalDeviceID.addEventListener('click', toggleChangeIDModal)
      saveModalDeviceID.addEventListener('click', toggleChangeIDModal2)

      
     

      // Modal for functionality
      const confirm = document.querySelector('#confirmFunc1')
      const createFuncBtn = document.querySelector('#createFuncBtn1')
      const closeConfirmBtn = document.querySelector('#closeConfirmFuncBtn1')

      const toggleModalFunctionality = () => {
        confirm.classList.toggle('hidden');
      }

      closeConfirmBtn.addEventListener('click', toggleModalFunctionality)
      createFuncBtn.addEventListener('click', toggleModalFunctionality)

       // drop-down, this has be in the end of the script else it wont work. Fix later.
      const arrowUp = document.querySelector('#arrowUp1');
      const arrowDown = document.querySelector('#arrowDown1'); 
      const menuBtn = document.querySelector('#devicesBtn1'); 
      const dropdownDev = document.querySelector('#dropdownDevices1');
      
      const toggleFunctionalityDropDown = () => {
        dropdownDev.classList.toggle('hidden');
        arrowUp.classList.toggle('hidden');
        arrowDown.classList.toggle('hidden');
        menuBtn.classList.toggle('bg-gray-300');
      }

      menuBtn.addEventListener('click', toggleFunctionalityDropDown)
    })