mixin nodeCard(node = {})
  form(action=`/nodes/${node._id}/edit` method="GET" class="flex flex-col mx-12 rounded-3xl text-xs my-4 py-6 bg-gray-100 shadow-md w-auto")
    div(class="place-self-center text-lg mb-4 border-b px-4 ")
      if (node.isMaster)
        p(class="border-gray-900") Master node
      else
        p(class="text-gray-600") Slave node
    div(class="flex flex-row")
      div(class="w-64")
      div(class="w-32")
    div(class="flex flex-col items-center justify-center mb-4")
      div(class="flex flex-col items-center overflow-auto mb-2")
        p(class="text-gray-700") Name
        p(class="text-lg" test-cy=`node-name-${node.name}`) #{node.name}
      div(class="flex flex-col items-center overflow-auto mb-2")
        p(class="text-gray-700") ID
        p(class="text-lg" test-cy=`nodeID-${node.nodeID}`) #{node.nodeID}
      div(class="flex flex-col items-center overflow-auto mb-2")
        p(class="text-gray-700") Status
        p(class="text-lg" test-cy=`node-status-${node.status}`) #{node.status}

        if (!node.isMaster)
          div(class="flex flex-col items-center overflow-auto mb-2")
          p(class="text-gray-700") Functionality
          if (!(node.function === null || node.function === undefined))
            each func in funcs
              if (node.function.equals(func._id))
                p(class="text-lg") #{func.name}
          else
            p(class="text-lg text-red-500") Deactivated

      if (!node.isMaster)
        if (!(node.function === null || node.function === undefined))
            each func in funcs
              if (node.function.equals(func._id))
                if (!(func.sensors === null || func.sensors === undefined || func.sensors.length === 0))
                  div(class="flex flex-col items-center overflow-auto")
                    p(class="text-gray-700") Sensors
                      each sensor in func.sensors
                        div(class="flex flex-col items-center justify-center text-lg")
                          | #{sensor}

    div(class="flex flex-row items-center justify-center")
      button(type="submit" test-cy=`edit-node-btn-${node.nodeID}` class="mt-2 text-sm place-self-center px-5 py-1 bg-teal-300 border border-teal-300 rounded-lg text-gray-100 hover:border-teal-300 hover:bg-gray-100 hover:text-teal-300 focus:outline-none")
        | Edit node
