mixin nodeRow(node = {})
  div(class="mt-2 text-gray-800 bg-white flex flex-row py-4 px-4 rounded-xl items-center")
    div(class="ml-2 w-32 overflow-auto flex")
      | #{node.name} 
    div(class="ml-2 w-32 overflow-auto no-scrollbar")
      | #{node.nodeID}
    div(class="ml-2 w-32 overflow-auto no-scrollbar")
      | #{node.status}
    div(class="ml-2 w-48 overflow-auto no-scrollbar")
      | #{node.sensors}
    div(class="ml-2 w-32 overflow-auto no-scrollbar")
      | #{node.function}
    form(action=`/nodes/${node._id}/edit` method="GET" class="card")
      button(type="submit" class="ml-4 w-14 mr-2 curser-pointer focus:outline-none px-2 py-1 bg-teal-400 border border-teal-400 rounded-xl text-indigo-100 hover:border-teal-400 hover:bg-indigo-100 hover:text-teal-400")
        | Edit device
    a(href=`/download/${node.nodeID}` class="ml-4 w-14 curser-pointer focus:outline-none px-2 py-1 bg-teal-400 border border-teal-400 rounded-xl text-indigo-100 hover:border-teal-400 hover:bg-indigo-100 hover:text-teal-400")
      | Download data