mixin nodeCard(node = {})
  .card
    h1.title
      a(href=`/node/${node.slug}`) #{node.name}
    p _id: #{node._id}
    p NodeID: #{node.nodeID}
    p Name: #{node.name}
    p Status: #{node.status}
    p Slug: #{node.slug}
    a(href=`/nodes/${node._id}/edit`): button.btn(type="button") Edit
     